.index-container {
  flex-shrink: 0;
  width: 350px;
  height: 100vh;
  background: white;
  border-right: 1px solid #ededed;
  overflow: hidden;
}

.index-header {
  font-family: 'Varela Round';
  color: #a4a4a5;
  height: 80px;
  padding: 15px;
  border-bottom: 1px solid #ededed;
}

.index-container-title {
  padding-top: 10px;
  font-size: 26px;
  font-weight: lighter;
}

.notes-count {
  font-size: 16px;
  padding-top: 20px;
  color: lightgrey;
}

.notes-index-list {
  height: 87vh;
  overflow-y: scroll;
}

.notes-index-list > div > ul > .selected{
  border: 3px solid lightgrey;
}

.note-item-li {
  height: 100px;
  padding: 15px;
  border-bottom: 1px solid #ededed;
  transition: background .3s ease-in-out;
  color: #7f7f7f;
}

.note-item-li:hover {
  color: #ffffff;
  background: #2dbe60;
  cursor: pointer;
}

.note-item-li:hover .note-item-title{
  color: #ffffff;
}

.note-item-li:hover .empty-title{
  color: #ffffff;
  opacity: 1;
}

.note-item-li:hover .last-updated{
  color: #ffffff;
}

.note-item-title {
  font-size: 18px;
  font-family: 'Varela Round';
  color: #2dbe60;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.empty-title {
  opacity: .5;
  color: #7f7f7f;
}

.last-updated {
  font-size: 12px;
  font-family: 'Varela Round';
  color: lightgrey;
}

.note-item-body {
  padding-top: 20px;
  font-size: 14px;
  font-family: 'Varela Round';
  color:inherit;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.delete-note-button{
  float: right;
  height: 25px;
  width: 25px;
  background-size: 25px 25px;
  margin-top: -20px;
  background-image: image-url("delete-note-unclicked.png");
}

.delete-note-button:hover {
  background-image: image-url("delete-note-clicked.png");
}
