.note-container {
  height: 60vh;
  width: 60vw;
  padding: 0 20px 20px 20px;
}

.current-user-info {
  font-family: 'Varela Round';
  color: grey;
  font-size: 12px;
  padding: 20px 20px 5px 20px;
  margin: 0 auto;
  max-width: 800px;
}

.note-header-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 20px 10px 20px;
  font-family: 'Varela Round';
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.note-form-container {
  max-width: 840px;
  margin: 0 auto;
}

.note-title-form {
  font-size: 30px;
  color: #2dbe60;
  width: 100%;
}

.note-container-empty {
  position: relative;
  width: 80vw;
}

.note-container-empty > img {
  position: absolute;
  display: block;
  height: 128px;
  width: 128px;
  top: 35%;
  left: 35%;
  opacity: .7;
}

.note-tools-container {
  display: flex;
  padding: 5px 20px 20px 20px;
  flex-wrap: nowrap;
  max-width: 800px;
  margin: 0 auto;
  justify-content: flex-start;
}

.note-tools-container > div {
  margin-right: 30px;
}

//save button

.form-save-container {
  position: relative;
}

.form-save-button {
  display: block;
  background-repeat: no-repeat;
  background-image: image-url("save-file-unclicked.png");
  background-size: 20px 20px;
  margin-top: 1px;
  height: 20px;
  width: 20px;
  transition: all .1s ease-in-out;
}

.form-save-button:hover {
  background-image: image-url("save-file-clicked.png");
  cursor: pointer;
}

.save-tool-tooltip {
  display: none;
  font-family: 'Varela Round';
  font-size: 10px;
  position: absolute;
  color: #fff;
  background: grey;
  padding: 3px 5px;
  white-space: nowrap;
  border-radius: 5px;
  top: 25px;
  left: -7px;
}

.form-save-container:hover .save-tool-tooltip {
  display: block;
}

//delete button

.form-delete-container {
  position: relative;
}

.form-delete-button {
  display: block;
  background-repeat: no-repeat;
  background-image: image-url("delete-toolbar-unclicked.png");
  background-size: 20px 20px;
  margin-top: 1px;
  height: 20px;
  width: 20px;
  transition: all .1s ease-in-out;
}

.form-delete-button:hover {
  background-image: image-url("delete-toolbar-clicked.png");
  cursor: pointer;
}

.delete-tool-tooltip {
  display: none;
  font-family: 'Varela Round';
  font-size: 10px;
  position: absolute;
  color: #fff;
  background: grey;
  padding: 3px 5px;
  white-space: nowrap;
  border-radius: 5px;
  top: 25px;
  left: -15px;
}

.form-delete-container:hover .delete-tool-tooltip {
  display: block;
}

//notebooks button

.form-notebooks-container {
  position: relative;
}

.form-notebooks-button {
  display: block;
  background-repeat: no-repeat;
  background-image: image-url("notebooks-toolbar-unclicked.png");
  background-size: 20px 20px;
  margin-top: 1px;
  height: 20px;
  width: 20px;
  transition: all .1s ease-in-out;
}

.form-notebooks-button:hover {
  background-image: image-url("notebooks-toolbar-clicked.png");
}

.notebooks-tool-tooltip {
  display: none;
  font-family: 'Varela Round';
  font-size: 10px;
  position: absolute;
  color: #fff;
  background: grey;
  padding: 3px 5px;
  white-space: nowrap;
  border-radius: 5px;
  top: 25px;
  left: -25px;
  z-index: 999999;
}

.form-notebooks-container:hover .notebooks-tool-tooltip {
  display: block;
}

//tags button

.form-tags-container {
  position: relative;
}

.tag-item-name {
  padding-top: 1px;
}

.form-tags-button {
  display: block;
  background-repeat: no-repeat;
  background-image: image-url("tags-toolbar-unclicked.png");
  background-size: 20px 20px;
  margin-top: 1px;
  height: 20px;
  width: 20px;
  transition: all .1s ease-in-out;
}

.form-tags-button:hover {
  background-image: image-url("tags-toolbar-clicked.png");
}

.tags-tool-tooltip {
  display: none;
  font-family: 'Varela Round';
  font-size: 10px;
  position: absolute;
  color: #fff;
  background: grey;
  padding: 3px 5px;
  white-space: nowrap;
  border-radius: 5px;
  top: 25px;
  left: -7px;
  z-index: 999999;
}

.form-tags-container:hover .tags-tool-tooltip {
  display: block;
}
