.login-form {
  margin: 20px;
  text-align: center;
}

.session-form-box {
  position: relative;
}

.session-close-modal {
  position: absolute;
  height: 32px;
  width: 32px;
  background-image: image-url("close-unclicked.png");
  background-size: 32px 32px;
  background-repeat: no-repeat;
  transition: background .3s ease-in-out;
  right: -10px;
  top: -30px;
}

.session-close-modal:hover {
  background-image: image-url("close-clicked.png");
}

.login-form > input {
  display: inline-block;
  box-sizing: content-box;
  padding: 10px 20px;
  width: 200px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  transition: 200ms;
  font-family: 'Varela Round';
  margin-top: 15px;
}

.login-input{
  text-align: left;
}

.session-form-type {
  font-family: 'Shrikhand';
  font-size: 40px;
  color: #2dbe60;
  text-shadow: 1px 1px 2px black;
}

.session-submit {
  border-radius: 11px;
  font-family: 'Varela Round';
  color: #ffffff;
  width: 200px;
  font-size: 18px;
  background: #2dbe60;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
  text-transform: uppercase;
  border-style: none;
  margin: 20px;
  box-shadow: 1.5px 1.5px 2px black;
  transition: all .3s ease-in-out;
}

.session-submit:hover {
  background: #1ba34b;
  text-decoration: none;
  cursor: pointer;
}

.session-errors {
  color: #d93434;
  font-size: 14px;
  font-family: 'Varela Round';
}
