.login-signup {
  margin: 0 auto;
  text-align: center;
  background-image: image-url("splash-background.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: auto;
}

.splash-logo {
  font-family: 'Shrikhand';
  font-size: 150px;
  color: #2dbe60;
  font-weight: lighter;
  text-shadow: 1px 1px 2px black;
}

.splash-buttons > button  {
  margin: 10px;
  border-radius: 11px;
  font-family: 'Varela Round';
  color: #ffffff;
  width: 200px;
  height: 25px;
  font-size: 16px;
  background: #2dbe60;
  padding: 5px 40px 5px 40px;
  text-decoration: none;
  text-transform: uppercase;
  border-style: none;
  box-shadow: 1px 1px 2px black;
  transition: all .3s ease-in-out;
}

.splash-buttons > button:hover {
  background: #1ba34b;
  text-decoration: none;
  cursor: pointer;
}

.splash-buttons {
}

.session-errors{

}
